<footer class="footer">
  © 2020 - 2021 Pascasarjana
  <span class="d-none d-sm-inline-block">
    <img src="{{ assetsUrl('assets/auth/images/unsyiah.png') }}" alt="" height="12">
    Universitas Syiah Kuala </span>
</footer>
